#title {
display: flex;
justify-content: center;
font-size: 70px;
font-weight: bold; 
background: linear-gradient(to right, #f83b22 30%,#f3c52e, #70d130, #3162e7, #a92de2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#canvas-container {
 display: flex;
 justify-content: center;
}
