

#title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#title-color {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    margin-right: 10px;
    padding: 10px;
    p {
        font-family: sans-serif;
        font-weight: bold;
        text-align: center;
        box-sizing: border-box;
        border-radius: 20px;
        width: 5%;
        padding: 10px 0 10px; 
        border: 1px solid black;
        margin-right: 10px;
        opacity: .5;
    }
}

#title-crash {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    margin-left: 10px;
    padding: 10px;
    p {
        font-family: sans-serif;
        font-weight: bold;
        text-align: center;
        box-sizing: border-box;
        border-radius: 20px;
        width: 5%;
        padding: 10px 0 10px; 
        border: 1px solid black;
        margin-right: 10px;
        opacity: .5;
    }
}

#canvas-container {
 display: flex;
 justify-content: center;
}
