html {
    background-image: url('../images/pageBG.jpg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    font-family: 'Fredoka One', cursive;
}

body {
    height: 100%;
    margin: 0;
}

#title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#title-color {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    margin-right: 10px;
    align-items: center;
    p {
        color: white;
        font-family: 'Fredoka One', cursive;
        font-weight: bold;
        text-align: center;
        box-sizing: border-box;
        border-radius: 40px;
        width: 45px;
        padding: 10px; 
        border: 3px solid white;
        margin-right: 10px;
        opacity: .8;
    }
}

#title-crash {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    margin-left: 10px;

    p {
        color: white;
        font-family: 'Fredoka One', cursive;
        font-weight: bold;
        text-align: center;
        box-sizing: border-box;
        border-radius: 40px;
        width: 45px;
        padding: 10px; 
        border: 3px solid white;
        margin-right: 10px;
        opacity: .8;
    }
}

#canvas-container {
 display: flex;
 justify-content: center;
}

#under-canvas {
    position: absolute;
    top: 728px;
    width: 1400px;
    margin: 10px 0 10px 0;
}

#about {
    display: flex;
    flex-direction: row;
   
    align-items: center;
    height: 260px;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 260px;
    margin-right: 9px;
    i {
        color: black;
        margin: 20px 0 20px 0;
        &:hover {
            color: grey;
        }
    }
}

#mute {   
    width: 120px;
    height: 30px;
    z-index: 3;
    
}

#about-split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1270px;
}

#instructions {
    width: 630px;
    border: 1px solid black;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
    font-size: 16px;
    height: 260px;
    > p {
        line-height: 2;
        margin: 0 0 5px 0;
        padding-top: 10px
    }
    p:first-child {
        font-weight: bold;
        font-size: 20px;
        padding-top: 0;
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: center;
        line-height: 1;
    }

}


#legend {
    display: flex;
    flex-direction: column;
    width: 630px;
    border: 1px solid black;
    box-sizing: border-box;
    > p {
        font-weight: bold;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: center;
    }
    > div {
       display: flex;
       flex-direction: row;
       align-items: center;
       height: 20px;
       padding: 5px 30px 5px 30px;
       > div {
           width: 50px;
           height: 20px;
           margin-right: 10px;
       }
    }
}

#legend-red > div {
    background-color: red;
}
#legend-yellow > div {
    background-color: yellow;
}
#legend-green > div {
    background-color: green;
}
#legend-blue > div {
    background-color: blue;
}
#legend-orange > div {
    background-color: orange;
}
#legend-pink > div {
    background-color: pink;
}
#legend-purple > div {
    background-color: purple;
}

